/* makking the box  */



.grid { 
    display: flex;
    flex-wrap: wrap;
    border: solid black 5px;
    width: 600px;
    height: 300px;
}

/* sizing the 900 divs */
.grid div {
    width: 20px;
    height: 20px;
    /* border: solid black 1px; */
    /* padding: 2px 0px 2px 0px; */
}


.shooter {  

    background-image: url(./SpaceInvaderImages/dragon.png);
    background-size: cover;
    /* position: absolute; */
    /* width: 60px;
    height: 45px;
    left: 220px;
    bottom: 100px; */

    /* background-color: green;
    border: solid green 0px; */
    /* border-left: solid black 20px;
    border-right: solid black 20px; */

}

.motherShip {
    background-image: url('./SpaceInvaderImages/satelite.png');
    background-size: cover;
    /* background-color: black;
    border-top: solid white 5px; */

}

.invader {
    background-image: url('./SpaceInvaderImages/alienMonster2.png');
    background-size: cover;

	/* background-color: blue;
    border-top: solid white 5px; */
    /* border:black solid 1px;  */
}

.boom{
    background-image: url('./SpaceInvaderImages/boom.png');
    background-size: cover;
    /* background-color: red; */
}

.laser {

    background-image: url('./SpaceInvaderImages/fire.png');
    background-size: cover;
    /* background-color: Yellow;
    border-radius: 30px; */
}

body {
    display: grid;
    align-items: center;
}

  @media screen and (min-width: 992px) {
      .grid {
        display: flex;
        flex-wrap: wrap;
        border: solid black 5px;
        width: 900px;
        height: 450px;
      }
  }