.grid {
    display: flex;
    flex-wrap: wrap;
    border: solid black 5px;
    width: 600px;
    height: 300px;
}

.grid div {
    width: 20px;
    height: 20px;
    /* border: solid black 1px; */
    /* padding: 2px 0px 2px 0px; */
}

.shooter { 
    background-color: green;
    border: solid green 0px;
    /* border-left: solid black 20px;
    border-right: solid black 20px; */

}

.invader {
	background-color: blue;
    border-top: solid white 5px;
    /* border:black solid 1px;  */
}

.boom{
    background-color: red;
}

.laser {
    background-color: Yellow;
    border-radius: 30px;
}

body {
    display: grid;
    align-items: center;
}

/* @media screen and (min-width: 800px) {
    .body {
      align-items: center;
    }
  } */
