.grid {
    display: flex;
    flex-wrap: wrap;
    border: solid black 5px;
    width: 600px;
    height: 400px;
}

.grid div {
    width: 30px;
    height: 20px;
}

.enemy {
	background-color: gray;
    
}

